* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.sticky-nav {
  position: -webkit-sticky; /* safari */
  position: sticky;
  z-index: 10;
  top: 0;
}

.section_nav {
  /* width: 100%; */
  background-color: black;
  height: 100px;
  margin-top: 1rem;
  border-radius: 12px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 30px 0 rgb(51, 43, 2);
}

.section_nav img {
  border: solid 3px #ffd369;
  width: 86px;
  border-radius: 15%;
}
.flex-container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav li a {
  text-decoration: none;
  color: #eeeeee;
  font-family: poppins;
  transition: all 0.25s ease;
  font-size: 16px;
  display: inline-block;
  
}
.nav li a:hover {
  color: #ffd369;
  line-height: 0.01;
  /* font-size: 20px; */
  scale: 1.1;
  
  text-shadow: 0 5px 5px 5px gray;
}
.nav li a.active {
  color: #ffd369;
  font-weight: 900;
}
.nav_btn {
  background-image: linear-gradient(71deg, #eeeeee, #f7ec9f, #ffd369 50%);
  align-items: center;
  padding: 16px 24px;

  border: none;
  border-radius: 16px;
  transition: all 0.5s ease;
}
.nav_btn:hover {
  color: black;
  box-shadow: 0 0 10px 10px rgb(40, 33, 11);
  scale: 0.8;
}
.nav_btn a {
  color: black;
  text-decoration: none;
}

/* HOME */

.flex-container-home {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 228px;
  height: 850px;
}

/* TEXT HOME */

.text-home {
  height: auto;
  align-items: center;
  padding: 128px 16px;
  font-family: poppins, sans-serif;
}
.text-home p {
  color: #eeeeee;
}

.text-home h3 {
  color: #eeeeee;
  font-size: 36px;
}

.text-home h2 {
  color: #ffd369;
  font-size: 52px;
  line-height: 1;
}
/* BOTTUM CV */

.cv-btn {
  background-image: linear-gradient(71deg, #ffd369 50%, #f7ec9f, #eeeeee);
  align-items: center;
  font-family: poppins;
  padding: 16px 24px;
  margin-top: 32px;
  border: none;
  border-radius: 16px;
  /* box-shadow: 0px 5px 5px 5px rgb(63, 56, 12);  */
  transition: all 0.5s ease;
}
.cv-btn:hover {
  color: black;
  box-shadow: 0 0 10px 10px rgb(40, 33, 11);
  scale: 0.8;
}

.cv-btn a {
  color: black;
  text-decoration: none;
}

/* IMG HOMME */
.img-home {
  max-width: 100%;
  height: 650px;
}
/* INTRO */

.flex-container-intro {
  margin-top: 32px;
  background-color: #1e1e1e;
  width: 100%;
  height: 850px;
  display: flex;
  gap: 64px;
  padding: 128px 64px;
}

/* IMG INTRO */

.flex-container-intro img {
  width: 450px;
  border: solid 4px #ffd369;
  border-radius: 0 15px 0 15px;
  box-shadow: 5px 5px 15px 15px rgb(10, 9, 16);
}

.text-intro {
  height: auto;
}
.text-intro h4 {
  color: #eeeeee;
  font-family: poppins, sans-serif;
  font-size: medium;
}
.intro-items-container {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
.intro-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.intro-items h3 {
  color: #ffd369;
  font-size: 28px;
}
.intro-items p {
  color: #eeeeee;
  font-size: 20px;
}

.intro-items ul {
  display: flex;
  color: #eeeeee;
  gap: 24px;
  list-style-type: none;
}

/* PORTFOLIO */

.container-portfolio {
  padding: 128px 16px;
  background-color: #141414;
  margin-top: 32px;
  height: 850px;
}

.container-portfolio h1 {
  font-size: 32px;
  color: #eeeeee;
  margin-bottom: 42px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 24px;
  justify-content: center;
}

.portfolio-list-item {
  text-align: center;
}

/* PORTFOLIO PHOTOS */

.portfolio-list-item img {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease;
  box-shadow: 0px 5px 10px 10px rgb(10, 9, 16);
}
.portfolio-list-item img:hover {
  scale: 1.1;
}

/* ITEMS */

.portfolio-list-item h4 {
  color: #eeeeee;
  margin: 12px 0;
}
.portfolio-list-item a {
  display: inline-block;
  font-size: 12px;
  background-color: #ffd369;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.portfolio-list-item a:hover {
  color: black;
  box-shadow: 0 2px 5px 5px rgb(60, 52, 19);
  scale: 0.8;
}

/* SERVICES */
.services-container {
  background-color: #1e1e1e;
  margin-top: 32px;
  height: 850px;
}
.services-container h2 {
  color: #eeeeee;
  padding: 64px 16px;
  font-size: 28px;
}
.services-list-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.services-items {
  padding: 32px;
  background-color: #eeeeee;
  margin: 32px 48px;
  border-radius: 5px;
  transition: all 0.5s ease;
  box-shadow: 0px 5px 10px 10px rgb(10, 9, 16);
}
.services-items:hover {
  background-color: #ffd369;
  border-radius: 5px;
  scale: 1.1;
  box-shadow: 0 2px 5px 5px rgb(60, 52, 19);
}

/* TESTIMONIAL */

.testimonial-container {
  margin-top: 32px;
  background-color: #141414;
  padding: 128px 16px;
  height: 850px;
}
.testimonial-container h2 {
  color: #eeeeee;
  font-size: 28px;
}
.testimonial-container h5 {
  color: #ffd369;
  font-size: 20px;
  padding-top: 64px;
}

/* CONTAINER DESCIPTION */

.container-description {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 32px 32px;
  margin: 32px 48px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 10px black;
}
.container-description h3 {
  padding: 0 16px;
}

/* BloG */

.blog-container {
  background-color: #1e1e1e;
  margin-top: 32px;
  padding: 128px 16px;
  font-family: poppins, sans-serif;
}

.blog-container h2 {
  color: #eeeeee;
  font-size: 28px;
}
.blog-container h5 {
  color: #ffd369;
  font-size: 20px;
  padding: 28px 0;
}
.blog {
  display: flex;
  justify-content: right;
  margin: 32px 0;
  gap: 16px;
}
.blog img {
  width: 250px;
  border-radius: 6px;
}
.blog p h6 {
  padding: 16px;
}
.blog p {
  font-size: 16px;
  font-style: italic;
  color: #eeeeee;
  padding-bottom: 24px;
}
.blog h6 {
  color: #eeeeee;
  font-size: 16px;
  margin-bottom: 32px;
}
.blog svg {
  text-align: right;
  width: 64px;
  padding: 16px;
}

/* CONTACT */

.contact-container {
  background-color: #141414;
  margin-top: 32px;
  padding: 128px 16px;
  height: 850px;
}
.contact-container h2 {
  color: #eeeeee;
  font-size: 28px;
}
.contact-container h5 {
  color: #ffd369;
  font-size: 20px;
  margin: 8px 0 32px;
}
.contact-container-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}
.contact-container-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-container-form input {
  border-radius: 16px;
  padding: 12px;
  padding-right: 64px;
}
.contact-container-form input:focus {
  outline: none;
  border: 4px solid #ffd369;
}
.contact-container-form textarea {
  border-radius: 16px;
  padding: 8px;
}
.contact-container-form textarea:focus {
  outline: none;
  border: 4px solid #ffd369;
}
.contact-container-form button {
  background-color: #ffd369;
  color: black;
  padding: 16px;
  border-radius: 16px;
}
.contact-informations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-information-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-informations h6 {
  line-height: 1;
  color: #eeeeee;
  font-size: 20px;
}
.contact-informations p {
  font-style: italic;
  color: #eeeeee;
}

/* FOOTER */

.footer-container {
  width: 1000px;
  height: 650px;

  margin: 32px;
  background-color: #1e1e1e;
  text-align: center;
}
.footer-container img {
  width: 150px;
  border: 2px solid #ffd369;
  border-radius: 8px;
  margin: 32px;
  margin-top: 32px;
}
.footer-container p {
  color: #eeeeee;
  margin: 0 32px;
}
.footer-container-rsocials {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin: 64px;
  border: none;
}
.footer-container-rsocials svg:hover {
  border-radius: 5px;
  scale: 1.1;
  /* box-shadow: 0 2px 5px 5px rgb(60, 52, 19); */
  filter: drop-shadow(0 0 0.75rem crimson);

  color: #141414;
}
